

<div class="explanation">THIS PAGE IS THE CONNECTION BETWEEN WALLETS AND COINS</div>

<div class="table_div">
  <table class="coin_wallet_junction">
    <thead>
      <tr>
        <th>SELECT FORM</th>
        <th></th>
        <th colspan="2">INSERT FORM</th>
        <th></th>
        <th>DELETE FORM</th>
      </tr>
    </thead>
    <tr>
      <td>
        <form class="coin_wallet_junction_select">
          <label for="wallet_id">Wallet_id:</label><br>
          <input type="number" id="wallet_id" name="wallet_id"><br>
          <label for="coin_id">Coin_id:</label><br>
          <input type="number" id="coin_id" name="coin_id"><br><br>
          <input type="checkbox">Select/View All<br><br>
          <input type="submit" id="SELECT" value="SELECT">
        </form>
      </td>
      <td>
        <form class="coin_wallet_junction_insert">
          <td>
            <label for="wallet_id">Wallet_id:</label><br>
            <input type="number" id="wallet_id" name="wallet_id"><br>
            <label for="customer_id">Customer_id:</label><br>
            <input type="number" id="customer_id" name="customer_id"><br>
            <label for="coin_id">Coin_id:</label><br>
            <input type="number" id="coin_id" name="coin_id"><br>
            <label for="balance">Balance:</label><br>
            <input type="number" id="balance" name="balance"><br>
            <br><br>
          </td>
          <td>
            <label for="coin_id">Coin_id:</label><br>
            <input type="number" id="coin_id" name="coin_id"><br>
            <label for="ticker">Ticker:</label><br>
            <input type="text" id="ticker" name="ticker"><br>
            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price"><br>
            <label for="chance_24hr">Change_24hr:</label><br>
            <input type="number" id="change_24hr" name="change_24hr">
            <br><br>
            <input type="submit" id="INSERT" value="INSERT">
          </td>
          <td></td>
        </form>
      </td>
      <td>
        <form class="coin_wallet_junction_delete">
          <label for="wallet_id">Wallet_id:</label><br>
          <input type="number" id="wallet_id" name="wallet_id"><br>
          <label for="coin_id">Coin_id:</label><br>
          <input type="number" id="coin_id" name="coin_id">
          <br><br><br><br>
          <input type="submit" id="DELETE" value="DELETE">
        </form>
      </td>
    </tr>
  </table><br>
</div><br>

<div class="table_div">
<table class="coin_wallet_junction">
  <thead>
    <tr>
      <th>Wallet_id</th>
      <th>Coin_id</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>5869</td>
  </tr>
  <tr>
    <td>2</td>
    <td>4668</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>4</td>
    <td>8888</td>
  </tr>
</table>
</div>
