

  <ul class="navbar">
    <li><a href="coins.html">Coins</a></li>
    <li><a href="coin_wallet_junction.html">Coin_Wallet_Junction</a></li>
    <li><a class="active" href="wallet.html">Wallets</a></li>
    <li><a href="orders.html">Orders</a></li>
    <li><a href="customers.html">Customers</a></li>
  </ul>

<div class="explanation">THIS IS THE CUSTOMERS PAGE WITH TABLE OF ALL CUSTOMERS</div>

<div class="table_div">
  <table class="market">
    <thead>
      <tr>
        <th>INSERT / UPDATE</th>
      </tr>
    </thead>
      <tr>
        <td>
          <form>
            <label for="email">email:</label><br>
            <input type="text" id="email"><br>
            <label for="password">password:</label><br>
            <input type="text" id="password"><br>
            <label for="phone_number">phone_number:</label><br>
            <input type="phone_number" id="phone_number"><br>
            <label for="trading_password">trading_password:</label><br>
            <input type="text" id="trading_password"><br>
            <input type="button" value="INSERT">
          </form>
        </td>
      </tr>
    </thead>
  </table>
</div>

<br>

<div class="table_div">
  <table class="customers">
    <thead>
        <tr>
            <th>customer_id</th>
            <th>email</th>
            <th>password</th>
            <th>phone_number</th>
            <th>trading_password</th>
        </tr>
    </thead>
        <tr>
            <td class="customer_id">1</td>
            <td class="email">anon1@anon.com</td>
            <td class="password">anon1pass</td>
            <td class="phone_number">1234567890</td>
            <td class="trading_password">1234</td>
	<td><button>UPDATE</td>
        </tr>
        <tr>
            <td class="customer_id">2</td>
            <td class="email">anon2@anon.com</td>
            <td class="password">anon2pass</td>
            <td class="phone_number">1234567890</td>
            <td class="trading_password">1234</td>
		<td><button>UPDATE</td>
        </tr>
        <tr>
            <td class="customer_id">3</td>
            <td class="email">anon3@anon.com</td>
            <td class="password">anon3pass</td>
            <td class="phone_number">1234567890</td>
            <td class="trading_password">1234</td>
		<td><button>UPDATE</td>
        </tr>
    </table>
</div>
