

  <ul class="navbar">
    <li><a href="coins.html">Coins</a></li>
    <li><a href="coin_wallet_junction.html">Coin_Wallet_Junction</a></li>
    <li><a class="active" href="wallet.html">Wallets</a></li>
    <li><a href="orders.html">Orders</a></li>
    <li><a href="customers.html">Customers</a></li>
  </ul>

<div class="explanation">THIS PAGE WILL BE A WALLET OVERVIEW FOR ACCOUNT</div>

<div class="table_div">
  <table class="market">
    <thead>
      <tr>
        <th>INSERT FORM</th>
      </tr>
    </thead>
      <tr>
        <td>
          <form>
            <label for="customer_id">customer_id:</label><br>
            <input type="number" id="customer_id"><br>
            <label for="balance">balance:</label><br>
            <input type="number" id="balance"><br>
            <input type="button" value="INSERT">
          </form>
        </td>
      </tr>
    </thead>
  </table>
</div>

<br>

<div class="table_div">
<table class="wallet">
    <thead>
        <tr>
            <th>wallet_id</th>
            <th>customer_id</th>
            <th>balance</th>
        </tr>
    </thead>
        <tr>
            <td class="wallet_id">1</td>
            <td class="customer_id">1</td>
            <td class="balance">1</td>
        </tr>
        <tr>
            <td class="wallet_id">2</td>
            <td class="customer_id">2</td>
            <td class="balance">1</td>
        </tr>
    </table>
</div>
